<a href="https://colab.research.google.com/github/rmtu14/ATM-/blob/main/Pysparkbasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install pyspark py4j

Collecting pyspark
  Downloading pyspark-3.5.0.tar.gz (316.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 316.9/316.9 MB 3.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j in /usr/local/lib/python3.10/dist-packages (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.0-py2.py3-none-any.whl size=317425345 sha256=8c1eab3bfe9c7c80f64e20e0009242d01da460f647cfabae6a6061a912a215ba
  Stored in directory: /root/.cache/pip/wheels/41/4e/10/c2cf2467f71c678cfc8a6b9ac9241e5e44a01940da8fbb17fc
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.0

In [4]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

# Create a Spark session
spark = SparkSession.builder.appName("example").getOrCreate()

# Create a sample DataFrame
data = [("Alice", 25), ("Bob", 30), ("Charlie", 35)]
columns = ["Name", "Age"]

df = spark.createDataFrame(data, columns)

# Show the original DataFrame
print("Original DataFrame:")
df.show()

Original DataFrame:
+-------+---+
|   Name|Age|
+-------+---+
|  Alice| 25|
|    Bob| 30|
|Charlie| 35|
+-------+---+

In [5]:
# Add a new column "Age_Plus_Two" with each person's age increased by 2
df = df.withColumn("Age_Plus_Two", col("Age") + 2)

# Filter rows where age is greater than 30
df_filtered = df.filter(col("Age") > 30)

# Show the modified DataFrame
print("DataFrame with new column and filtered rows:")
df_filtered.show()

DataFrame with new column and filtered rows:
+-------+---+------------+
|   Name|Age|Age_Plus_Two|
+-------+---+------------+
|Charlie| 35|          37|
+-------+---+------------+